<% content_for :heading do %>
  <%= @course.name %>
<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="card social-card share  full-width m-b-10 no-border">
      <div class="card-header ">
        <div class="card-title">
          <span class="font-montserrat fs-11 all-caps">
            Syllabus <i class="fa fa-chevron-right"></i>
          </span>
        </div>
        <div class="card-controls">
        </div>
      </div>
      <div class="card-block">
        <%= render 'partials/sidenav' %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card social-card share  full-width m-b-10 no-border" data-social="item">
      <div class="card-header ">
        <ol class="breadcrumb" style="padding:0px;margin:0px;">        
          <li class="breadcrumb-item active">Week <%= @quiz.week %> - <%= @quiz.name %></li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <div class="card-block" style="padding:10px;">
        <% unless @total.present? %> 
          <div class="card" style="padding:7px;">
            <%= simple_form_for :quiz_score, :url => '/quiz/submit', html: {class: 'form_horizontal'} do |f| %>
              <div class="form-inputs">
                <% @quiz.questions.each_with_index do |question,index| %>
                  <h5><%= "#{index+1}. #{question.question}" %></h5>
                  <% question.option_set.options.all.each do |option| %>
                    <div class="">
                      &nbsp;&nbsp;<%= f.radio_button "questions[#{index}]", option.value, required: 'required' %>
                      <%= f.label "questions[#{index}]", option.text %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%= f.hidden_field :quiz_id, value: @quiz.id %>
              <%= f.hidden_field :course_id, value: @course.id %>
              <hr>
              <%= f.submit "Submit Quiz", class: 'btn btn-success' %>
            <% end %>
          </div>   
        <% else %>
          <h3 class="text-primary">&nbsp;&nbsp;Your Quiz Score: <%= @total %></h3>
        <% end %>
      </div>
      <div class="card-footer clearfix">
        <div class="pull-left">
          <%= link_to quiz_pdf_path, class: 'btn btn-complete', title: 'Download PDF' do %>
            <i class="fa fa-file-pdf-o"></i>
          <% end %>
          <%= link_to quiz_audio_path, class: 'btn btn-complete', title: 'Download Audio' do %>
            <i class="fs-14 sl-playlist"></i>
          <% end %>
        </div>
        <div class="pull-right hint-text">
          <div class="btn-group">
            <% unless @next_page.nil? %>
                <% if @next_page.is_a?(Video) %>
                  <%= link_to course_video_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                    Next Video&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                  <% end %>
                <% elsif @next_page.is_a?(Quiz)  %>
                  <%= link_to course_quiz_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                    Next Quiz&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                  <% end %>
                <% end %>
                <% unless has_taken_quiz(current_user.id, @quiz.id) %>
                  <%= form_tag("/quiz/skip", method: "post") do %>
                    <%= hidden_field_tag(:user_id, current_user.id) %>
                    <%= hidden_field_tag(:quiz_id, @quiz.id) %>
                    <%= hidden_field_tag(:course_id, @course.id) %>
                    <%= submit_tag("Skip Quiz", class: "btn btn-success btn-sm w-100") %>
                  <% end %>
                <% end %>
            <% else %>
              <% unless has_taken_quiz(current_user.id, @quiz.id) %>
                <%= form_tag("/quiz/skip", method: "post") do %>
                  <%= hidden_field_tag(:user_id, current_user.id) %>
                  <%= hidden_field_tag(:quiz_id, @quiz.id) %>
                  <%= hidden_field_tag(:course_id, @course.id) %>
                  <% if @views.count + @quizzes_taken.count + 1 == @videos.count + @quizzes.count %>
                    <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                  <% else %>
                    <%= submit_tag("Skip Quiz", class: "btn btn-success btn-sm w-100") %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_tag("/quiz/skip", method: "post") do %>
                  <%= hidden_field_tag(:user_id, current_user.id) %>
                  <%= hidden_field_tag(:quiz_id, @quiz.id) %>
                  <%= hidden_field_tag(:course_id, @course.id) %>
                  <% if @views.count + @quizzes_taken.count + 1 == @videos.count + @quizzes.count %>
                    <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                  <% else %>
                    <%= submit_tag("Skip Quiz", class: "btn btn-success btn-sm w-100") %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>