<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form_horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>
  <form action="/users" method="POST">
    <!-- Note that the amount is in paise = 50 INR -->
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="<%= ENV['RAZORPAY_ID'] %>"
        data-amount="100"
        data-buttontext="Pay with Razorpay"
        data-name="Calm India"
        data-description="A 4 WEEK COURSE ON BUILDING MENTAL RESILIENCE, TAILORED FOR INDIA."
        data-image="https://your-awesome-site.com/your_logo.jpg"
        data-prefill.name=""
        data-prefill.email=""
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" value="Hidden Element" name="hidden">
  </form>
  <!-- <div class="form-actions"> -->
    <%#= f.button :submit, "Sign up" %>
  <!-- </div> -->
<% end %>
<br>
<%= render "devise/shared/links" %>
