<% content_for :styles do %>
  <script>
    $(document).ready(function(){
      $(".razorpay-payment-button-2").click( function(e) {
        e.preventDefault();
        var email = $("#user_email").val();
        var pwd = $("#user_password").val();
        var name = $("#user_name").val();
        var image = $("#user_image").val();
        var provider = $("#user_provider").val();
        var uid = $("#user_uid").val();
        localStorage.setItem("paytm_email", email);
        localStorage.setItem("paytm_pwd", pwd);
        localStorage.setItem("name", name);
        localStorage.setItem("image", image);
        localStorage.setItem("provider", provider);
        localStorage.setItem("uid", uid);
        $("#paytm_email").val(email);
        $(".razorpay-payment-button-2").unbind('click').click();
      });
    });
  </script>
<% end %>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <span class="font-montserrat fs-11 all-caps">
            Payment options
          </span>
        </div>
        <hr>
      </div>
      <div class="card-block">
        <% if @user.present? %>
          <% resource_name = :user %>
          <% resource = @user || User.new %>
        <% end %>
        <%#= resource.attributes %>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form_horizontal', role: "form", novalidate: false}) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, :as => :hidden, value: resource.email %>
          <%= f.input :password, :as => :hidden, value: resource.password %>
          <%= f.input :name, :as => :hidden, value: resource.name %>
          <%= f.input :uid, :as => :hidden, value: resource.uid %>
          <%= f.input :provider, :as => :hidden, value: resource.provider %>
          <%= f.input :image, :as => :hidden, value: resource.image %>
          <form action="/users" method="POST">
            <!-- Note that the amount is in paise = 50 INR -->
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="<%= ENV['RAZORPAY_ID'] %>"
                data-amount="39900"
                data-buttontext="Buy with RazorPay (₹399)"
                data-name="Calm India"
                data-description="A 4 WEEK COURSE ON BUILDING MENTAL RESILIENCE, TAILORED FOR INDIA."
                data-image=""
                data-prefill.name=""
                data-prefill.email=""
                data-theme.color="#F37254"
            ></script>
            <input type="hidden" value="Hidden Element" name="hidden">
          </form>
        <% end %>
        <strong>OR</strong>
        <br>
        <%= form_tag paytm_payment_path, method: :post, remote: false, :style => "" do %>
            <input type="hidden" id="paytm_email" name="paytm_email">
            <button class="razorpay-payment-button-2">Buy with PayTM (₹399)</button>
        <% end %>
      </div>
    </div>
    <%#= render "devise/shared/links" %>
  </div>
</div>
