<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-block">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form_horizontal', role: "form"}) do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="col-md-12" >
              <div class="form-group form-group-default" >
                <%= f.input :email, required: true, autofocus: true, class: "form-control", placeholder:"example@example.com"%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <%= f.input :password, required: true, class: "form-control", placeholder:"#{@minimum_password_length} characters minimum" %>
              </div>
              <br/>
            </div>
          </div>
          <form action="/users" method="POST">
            <!-- Note that the amount is in paise = 50 INR -->
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="<%= ENV['RAZORPAY_ID'] %>"
                data-amount="100"
                data-buttontext="Sign Up with RazorPay (₹299)"
                data-name="Calm India"
                data-description="A 4 WEEK COURSE ON BUILDING MENTAL RESILIENCE, TAILORED FOR INDIA."
                data-image="https://your-awesome-site.com/your_logo.jpg"
                data-prefill.name=""
                data-prefill.email=""
                data-theme.color="#F37254"
            ></script>
            <input type="hidden" value="Hidden Element" name="hidden">
          </form>
          <strong>OR</strong>
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <button class="razorpay-payment-button" style="padding-left:10px; padding-right:10px; ">Sign Up with PayTM (₹299)</button>
              </div>
              <br/>
            </div>
          </div>
        <% end %>
        <br>
        
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
