<% content_for :heading do %>
  <%= @course.name %>
<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="card social-card share  full-width m-b-10 no-border">
      <div class="card-header " data-toggle="collapse" data-parent="#accordion" href="#collapseSyllabus" aria-expanded="true" aria-controls="collapseSyllabus">
        <div class="card-title">
          <span class="font-montserrat fs-11 all-caps">
            Syllabus <i class="fa fa-chevron-right"></i>
          </span>
        </div>
        <div class="card-controls">
        </div>
      </div>
      <div id="collapseSyllabus" class="collapse show" role="tabcard" aria-labelledby="headingSyllabus" aria-expanded="true" style="">
        <div class="card-block">
          <%= render 'partials/sidenav' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card social-card share  full-width m-b-10 no-border" data-social="item">
      <div class="card-header ">
        <ol class="breadcrumb" style="padding:0px;margin:0px;">        
          <li class="breadcrumb-item active">Week <%= @video.week %> - <%= @video.name %></li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <div class="card-block" style="padding:10px;">
        <script src="<%= @video.url %>"></script>
      </div>
      <div class="card-footer clearfix">
        
        <div class="row hidden-xs">
          <div class="col-sm-5">
            <%= link_to video_pdf_path, class: 'btn btn-complete', title: 'Download PDF' do %>
              Download PDF&nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i>
            <% end %>
          </div>
          <div class="col-sm-7">
            <div class="btn-group pull-right">
              <% unless @next_page.nil? %>
                <% if @next_page.is_a?(Video) %>
                    <%= link_to course_video_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Video&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% elsif @next_page.is_a?(Quiz)  %>
                    <%= link_to course_quiz_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Quiz&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% end %>
                <% unless has_viewed(current_user.id, @video.id) %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <%= submit_tag("Complete Lesson", class: "btn btn-success btn-sm w-100") %>
                    <% end %>
                <% end %>
              <% else %>
                <% unless has_viewed(current_user.id, @video.id) %>
                      <%= form_tag("/video/complete", method: "post") do %>
                        <%= hidden_field_tag(:user_id, current_user.id) %>
                        <%= hidden_field_tag(:video_id, @video.id) %>
                        <%= hidden_field_tag(:course_id, @course.id) %>
                        <%= hidden_field_tag(:played, true) %>
                        <% if @views.count + @quizzes_taken.count + 1 == @videos.count + @quizzes.count %>
                          <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                        <% else %>
                          <%= submit_tag("Complete Lesson", class: "btn btn-success btn-sm w-100") %>
                        <% end %>
                      <% end %>
                <% else %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <% if @views.count + @quizzes_taken.count == @videos.count + @quizzes.count %>
                        <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                      <% else %>
                        <%= submit_tag("Complete Lesson", class: "btn btn-success btn-sm w-100") %>
                      <% end %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
        <div class="row visible-xs">
          <div class="col-sm-12" style="text-align:center">
            <%= link_to video_pdf_path, class: 'btn btn-complete', title: 'Download PDF', style: 'margin-top:5px;' do %>
              Download PDF&nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i>
            <% end %>
          </div>
          <div class="col-sm-12" style="text-align:center">
            <div class="btn-group" style="margin-top:5px;">
              <% unless @next_page.nil? %>
                <% if @next_page.is_a?(Video) %>
                    <%= link_to course_video_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Video&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% elsif @next_page.is_a?(Quiz)  %>
                    <%= link_to course_quiz_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Quiz&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% end %>
                <% unless has_viewed(current_user.id, @video.id) %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <%= submit_tag("Complete Lesson", class: "btn btn-success btn-sm w-100") %>
                    <% end %>
                <% end %>
              <% else %>
                <% unless has_viewed(current_user.id, @video.id) %>
                      <%= form_tag("/video/complete", method: "post") do %>
                        <%= hidden_field_tag(:user_id, current_user.id) %>
                        <%= hidden_field_tag(:video_id, @video.id) %>
                        <%= hidden_field_tag(:course_id, @course.id) %>
                        <%= hidden_field_tag(:played, true) %>
                        <% if @views.count + @quizzes_taken.count + 1 == @videos.count + @quizzes.count %>
                          <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                        <% else %>
                          <%= submit_tag("Complete Lesson", class: "btn btn-success btn-sm w-100") %>
                        <% end %>
                      <% end %>
                <% else %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <% if @views.count + @quizzes_taken.count == @videos.count + @quizzes.count %>
                        <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                      <% else %>
                        <%= submit_tag("Complete Lesson", class: "btn btn-success btn-sm w-100") %>
                      <% end %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
 <script type="text/javascript">
  $(document).ready(function () {
      //Disable cut copy paste
      $('body').bind('cut copy paste', function (e) {
          e.preventDefault();
      });
     
      //Disable mouse right click
      $("body").on("contextmenu",function(e){
          return false;
      });
  });
  </script>
<script>
      <% unless has_incomplete_view(current_user.id, @video.id) || has_viewed(current_user.id, @video.id) %>
        jwplayer().on('play', function(e) {
          console.log("started");
           $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "<% ENV['DEFAULT_HOST'] %>/views",
            headers: { },
            data : JSON.stringify({
              user_id: <%= current_user.id %>,
              video_id: <%= @video.id %>,
              course_id: <%= @course.id %>,
              played: false
            }),
            dataType: "json",
            success: function (result) {
              console.log("success");
            },
            error: function (){
              console.log("something wrong!");
            }
           });
        });
      <% end %>

      <% unless has_viewed(current_user.id, @video.id) %>
        jwplayer().on('complete', function(e) {
          console.log("complete");
           $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "<% ENV['DEFAULT_HOST'] %>/views",
            headers: { },
            data : JSON.stringify({
              user_id: <%= current_user.id %>,
              video_id: <%= @video.id %>,
              course_id: <%= @course.id %>,
              played: true
            }),
            dataType: "json",
            success: function (result) {
              console.log("success");
            },
            error: function (){
              console.log("something wrong!");
            }
           });
        });
      <% end %>
    </script>