<div class="row">
  <div class="col-md-4">
    <%= render 'partials/sidenav' %>
  </div>
  <div class="col-md-8">
    <h3><%= @course.name %></h3>
    <h3>Week <%= @video.week %> - <%= @video.name %></h3><br>
    <script src="<%= @video.url %>"></script>
    <br>
    <div class="row">
      <% unless @next_video.nil? %>
        <div class="col-sm-3">
          <%= link_to course_video_path(@course, @next_video), class: 'btn btn-primary' do %>
            Next Video&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
          <% end %>
        </div>
      <% end %>
      <% unless has_viewed(current_user.id, @video.id) %>
        <div class="col-sm-2">
          <%= form_tag("/video/complete", method: "post") do %>
            <%= hidden_field_tag(:user_id, current_user.id) %>
            <%= hidden_field_tag(:video_id, @video.id) %>
            <%= hidden_field_tag(:course_id, @course.id) %>
            <%= hidden_field_tag(:played, true) %>
            <%= submit_tag("Complete Lesson", class: "btn btn-success") %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <script>
      <% unless has_incomplete_view(current_user.id, @video.id) || has_viewed(current_user.id, @video.id) %>
        jwplayer().on('play', function(e) {
          console.log("started");
           $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "<% ENV['DEFAULT_HOST'] %>/views",
            headers: { },
            data : JSON.stringify({
              user_id: <%= current_user.id %>,
              video_id: <%= @video.id %>,
              course_id: <%= @course.id %>,
              played: false
            }),
            dataType: "json",
            success: function (result) {
              console.log("success");
            },
            error: function (){
              console.log("something wrong!");
            }
           });
        });
      <% end %>

      <% unless has_viewed(current_user.id, @video.id) %>
        jwplayer().on('complete', function(e) {
          console.log("complete");
           $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "<% ENV['DEFAULT_HOST'] %>/views",
            headers: { },
            data : JSON.stringify({
              user_id: <%= current_user.id %>,
              video_id: <%= @video.id %>,
              course_id: <%= @course.id %>,
              played: true
            }),
            dataType: "json",
            success: function (result) {
              console.log("success");
            },
            error: function (){
              console.log("something wrong!");
            }
           });
        });
      <% end %>
    </script>
  </div>
</div>