<% content_for :heading do %>
  <%= @course.name %>
<% end %>
<% content_for :styles do %>
  <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/5.19/video.min.js"></script>
  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="card social-card share  full-width m-b-10 no-border">
      <div class="card-header " data-toggle="collapse" data-parent="#accordion" href="#collapseSyllabus" aria-expanded="true" aria-controls="collapseSyllabus">
        <div class="card-title">
          <span class="font-montserrat fs-11 all-caps">
            Course Material <i class="fa fa-chevron-right"></i>
          </span>
        </div>
        <div class="card-controls">
        </div>
      </div>
      <div id="collapseSyllabus" class="collapse show" role="tabcard" aria-labelledby="headingSyllabus" aria-expanded="true" style="">
        <div class="card-block">
          <%= render 'partials/sidenav' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card social-card share  full-width m-b-10 no-border" data-social="item">
      <div class="card-header ">
        <ol class="breadcrumb" style="padding:0px;margin:0px;">        
          <li class="breadcrumb-item active">Week <%= @video.week %> - <%= @video.name %></li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <div class="card-block" style="padding:10px;">
        <div class="wrapper">
         <div class="videocontent" style="width:100%;">
            <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls preload="auto"  data-setup='{}'>
              <!-- <source src="<%= @video.url %>" type='video/mp4' res="720" label="HD" /> -->
              <!-- <source src="<%= @video.sd_url %>" type="video/mp4"  res="360" label="SD" /> -->
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
          </video>
         </div>
        </div>
      </div>
      <div class="card-footer clearfix">
        
        <div class="row hidden-xs">
          <div class="col-sm-5">
            <%= link_to video_pdf_path(id: @video.id), class: 'btn btn-complete', title: 'Download PDF', download: '' do %>
              Download PDF&nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i>
            <% end %>
          </div>
          <div class="col-sm-7">
            <div class="btn-group pull-right">
              <% unless @next_page.nil? %>
                <% if @next_page.is_a?(Video) %>
                    <%= link_to course_video_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Video&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% elsif @next_page.is_a?(Quiz)  %>
                    <%= link_to course_quiz_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Quiz&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% end %>
                <% unless has_viewed(current_user.id, @video.id) %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <%= submit_tag("Mark Video as Complete", class: "btn btn-success btn-sm w-100") %>
                    <% end %>
                <% end %>
              <% else %>
                <% unless has_viewed(current_user.id, @video.id) %>
                      <%= form_tag("/video/complete", method: "post") do %>
                        <%= hidden_field_tag(:user_id, current_user.id) %>
                        <%= hidden_field_tag(:video_id, @video.id) %>
                        <%= hidden_field_tag(:course_id, @course.id) %>
                        <%= hidden_field_tag(:played, true) %>
                        <% if @views.count + @quizzes_taken.count + 1 == @videos.count + @quizzes.count %>
                          <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                        <% else %>
                          <%= submit_tag("Mark Video as Complete", class: "btn btn-success btn-sm w-100") %>
                        <% end %>
                      <% end %>
                <% else %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <% if @views.count + @quizzes_taken.count == @videos.count + @quizzes.count %>
                        <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                      <% else %>
                        <%= submit_tag("Mark Video as Complete", class: "btn btn-success btn-sm w-100") %>
                      <% end %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
        <div class="row visible-xs">
          <div class="col-sm-12" style="text-align:center">
            <%= link_to video_pdf_path(id: @video.id), class: 'btn btn-complete', title: 'Download PDF', style: 'margin-top:5px;' do %>
              Download PDF&nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i>
            <% end %>
          </div>
          <div class="col-sm-12" style="text-align:center">
            <div class="btn-group" style="margin-top:5px;">
              <% unless @next_page.nil? %>
                <% if @next_page.is_a?(Video) %>
                    <%= link_to course_video_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Video&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% elsif @next_page.is_a?(Quiz)  %>
                    <%= link_to course_quiz_path(@course, @next_page), class: 'btn btn-primary btn-sm w-100' do %>
                      Next Quiz&nbsp;<span class="pull-right"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
                    <% end %>
                <% end %>
                <% unless has_viewed(current_user.id, @video.id) %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <%= submit_tag("Mark Video as Complete", class: "btn btn-success btn-sm w-100") %>
                    <% end %>
                <% end %>
              <% else %>
                <% unless has_viewed(current_user.id, @video.id) %>
                      <%= form_tag("/video/complete", method: "post") do %>
                        <%= hidden_field_tag(:user_id, current_user.id) %>
                        <%= hidden_field_tag(:video_id, @video.id) %>
                        <%= hidden_field_tag(:course_id, @course.id) %>
                        <%= hidden_field_tag(:played, true) %>
                        <% if @views.count + @quizzes_taken.count + 1 == @videos.count + @quizzes.count %>
                          <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                        <% else %>
                          <%= submit_tag("Mark Video as Complete", class: "btn btn-success btn-sm w-100") %>
                        <% end %>
                      <% end %>
                <% else %>
                    <%= form_tag("/video/complete", method: "post") do %>
                      <%= hidden_field_tag(:user_id, current_user.id) %>
                      <%= hidden_field_tag(:video_id, @video.id) %>
                      <%= hidden_field_tag(:course_id, @course.id) %>
                      <%= hidden_field_tag(:played, true) %>
                      <% if @views.count + @quizzes_taken.count == @videos.count + @quizzes.count %>
                        <%= submit_tag("Complete Course", class: "btn btn-success btn-sm w-100") %>
                      <% else %>
                        <%= submit_tag("Mark Video as Complete", class: "btn btn-success btn-sm w-100") %>
                      <% end %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
 <script type="text/javascript">
  $(document).ready(function () {
      //Disable cut copy paste
      $('body').bind('cut copy paste', function (e) {
          e.preventDefault();
      });
     
      //Disable mouse right click
      $("body").on("contextmenu",function(e){
          return false;
      });
      // fire up the plugin
      videojs('my-video', {
        controls: true,
        plugins: {
          videoJsResolutionSwitcher: {
            ui: true,
            default: 'low', // Default resolution [{Number}, 'low', 'high'],
            dynamicLabel: true // Display dynamic labels or gear symbol
          }
        }
      }, function(){
        var player = this;
        window.player = player
        player.updateSrc([
          {
            src: '<%= @video.sd_url %>',
            type: 'video/mp4',
            label: 'SD',
            res: 360
          },
          {
            src: '<%= @video.url %>',
            type: 'video/mp4',
            label: 'HD',
            res: 720
          }
        ])
        player.on('resolutionchange', function(){
          console.info('Source changed to %s', player.src())
        })
      })
      videojs('my-video').videoJsResolutionSwitcher()
  });
  </script>
<script>
      <% unless has_viewed(current_user.id, @video.id) %>
        var video = videojs('my-video').ready(function(){
          var player = this;
          player.on('ended', function() {
            console.log("complete");
           $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "<% ENV['DEFAULT_HOST'] %>/views",
            headers: { },
            data : JSON.stringify({
              authenticity_token: "<%= form_authenticity_token %>",
              user_id: <%= current_user.id %>,
              video_id: <%= @video.id %>,
              course_id: <%= @course.id %>,
              played: true
            }),
            dataType: "json",
            success: function (result) {
              console.log("success");
            },
            error: function (){
              console.log("something wrong!");
            }
           });
          });
        });
      <% end %>
    </script>