<div>
  	<% if @paytmparams["STATUS"] == "TXN_SUCCESS" && @args.present? && @ch.present? %>
  		<h2 class="text-white">Completing Transaction</h2>
  		<h1 class="text-white">Please wait...</h1>
		<div class="progress-circle-indeterminate m-t-45" style="display: block;"></div>
		<form method="post" action="/users" name="f1" id="user_form">
		  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		  <input type="hidden" name="user[email]" id="email">
		  <input type="hidden" name="user[password]" id="password">
		  <input type="hidden" name="user[name]" id="name">
		  <input type="hidden" name="user[image]" id="image">
		  <input type="hidden" name="user[provider]" id="provider">
		  <input type="hidden" name="user[uid]" id="uid">
		  <input type="hidden" name="payment_id" value="<%= @paytmparams['TXNID'] %>">
		</form>
		<script>
		    $(document).ready(function(){
		    	var args = <%= @args.to_json.html_safe %>
		    	args = JSON.stringify(args).replace(/[{}]/g, '');
		    	var url = "<%= ENV['VERIFY_URL'] %>" + "?JsonData={"+args+"}";
		    	$.get(url, function(data, status){
			        if(status == 'success'){
			        	var email = localStorage.getItem("paytm_email");
				    	var pwd= localStorage.getItem("paytm_pwd");
				    	var name = localStorage.getItem("name");
				        var image = localStorage.getItem("image");
				        var provider = localStorage.getItem("provider");
				        var uid = localStorage.getItem("uid");
				    	$("#email").val(email);
				    	$("#password").val(pwd);
				    	$("#name").val(name);
				    	$("#image").val(image);
				    	$("#provider").val(provider);
				    	$("#uid").val(uid);
				    	localStorage.removeItem("paytm_email");
				    	localStorage.removeItem("paytm_pwd");
				    	localStorage.removeItem("name");
				    	localStorage.removeItem("image");
				    	localStorage.removeItem("provider");
				    	localStorage.removeItem("uid");
				    	$('#user_form').submit();
					}else{
						alert('Transaction failed!');
					}
			    });
		    });

		    // $( "#verify_form" ).on('submit', function() {
	           
      //     	});
		</script>
	<% else %>
		<h1>Transaction Failed</h1>
		<h2 class="white"><%= @paytmparams['RESPMSG'] %></h2>
		<br>
		<%= link_to "Try Again", new_user_registration_path, class: 'btn btn-primary' %>
	<% end %>
</div>