<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-block">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form_horizontal',role: "form", autocomplete: "off", novalidate: "novalidate"}) do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <%= f.input :email, required: false, autofocus: true, class: "form-control", 'aria-required' => "true" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <%= f.input :password, required: false, class: "form-control", 'aria-required' => "true" %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-sm-4">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>
            <div class="col-sm-8 pull-right">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>