<div class="card social-card share  full-width m-b-10 no-border" data-social="item">
      <div class="card-header ">
        <h5 class="text-complete pull-left fs-12">Courses&nbsp;<i class="fa fa-circle text-complete fs-11"></i></h5>
        <div class="clearfix"></div>
      </div>
      <div class="card-block">
        <br>
        <% @courses.each do |course| %>
          <div class="card social-card share  full-width m-b-10" data-social="item">


            <div class="card-description" style="padding-bottom:0px;">

            <div class="row">
            <div class="col-md-3">
            <%= image_tag "faraz.png"%>
</div>
<div class="col-md-9">         
              <h4 style="width:100%;padding-left:10px; padding-right:10px;padding-bottom:0px;margin-bottom:0px;">
                <%= link_to course_path(course) do %>
                  <strong><%= course.name %></strong>
                  <% if course.videos.count + course.quizzes.count == course.views.user_views(current_user).count + course.quiz_scores.user_taken(current_user.id).count %>
                    <span class="pull-right text-success"><span class="fs-14 fa fa-check" aria-hidden="true"></span></span>
                  <% end %>
                <% end %>
                <p style="opacity:0.7"><%= course.description %></p>
              </h4>
            


            <div class="card-footer clearfix" style="padding-left:10px;">
              <% if (course.videos.count.to_f + course.quizzes.count.to_f) > 0 %>
                <% completed = (((course.views.user_views(current_user.id).count.to_f + course.quiz_scores.user_taken(current_user.id).count.to_f)/(course.videos.count.to_f + course.quizzes.count.to_f))*100).to_i %>
                <div class="progress" style="height:100%">
                    <% if completed > 75 %>
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= completed %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= completed %>%">
                        <%= completed %>%
                      </div>
                    <% elsif completed > 45 %>
                        <div class="progress-bar progress-bar-complete" role="progressbar" aria-valuenow="<%= completed %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= completed %>%">
                            <%= completed %>%
                          </div>
                    <% else %>
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= completed %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= completed %>%">
                            <%= completed %>%
                          </div>
                    <% end %>
                </div>
              <% end %>
              <div class="pull-left">
                <% next_page = course.next_page(current_user) %>
                <% unless next_page.nil? %>
                  <% if course.views.user_views(current_user.id).count + course.quiz_scores.user_taken(current_user.id).count == 0  %>
                    <%= link_to course_video_path(course, next_page), class: 'btn btn-success btn-lg', style: 'margin-bottom:5px;' do %>
                      Start Course&nbsp;&nbsp;<span class="pull-right"><span class="fa fa-play" aria-hidden="true"></span></span>
                    <% end %>
                  
                  <% elsif course.views.user_views(current_user.id).count + course.quiz_scores.user_taken(current_user.id).count < course.videos.count + course.quizzes.count %>
                    <% if next_page.is_a?(Video) %>
                      <%= link_to course_video_path(course, next_page), class: 'btn btn-success btn-lg', style: 'margin:5px;' do %>
                        Resume Course&nbsp;&nbsp;<span class="pull-right"><span class="fa fa-play" aria-hidden="true"></span></span>
                      <% end %>
                    <% else %>
                      <%= link_to course_quiz_path(course, next_page), class: 'btn btn-success btn-lg', style: 'margin:5px;' do %>
                        Resume Course&nbsp;&nbsp;<span class="pull-right"><span class="fa fa-play" aria-hidden="true"></span></span>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <a href="<%= course.audio_book_url %>" class="btn btn-primary btn-lg" download>Download Audio Book&nbsp;&nbsp;<span class="pull-right"><span class="fa fa-music" aria-hidden="true"></span></span></a>
              </div>
              <div class="pull-right hint-text">
              </div>
              <div class="clearfix"></div>
            </div>

            </div>
            </div>
          </div>
      <% end %>
      </div>
</div></div>