<!DOCTYPE html>
<html>
  <head>
    <title>Calm India</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body style="background-color:#536DFE;">
    <%= render 'partials/flash' %>
    <div class="container text-center">
      <br><br><br><br>
        <h3 style="color:white">CALMINDIA</h3>
        <%= yield %>
    </div>
  </body>
</html>