<!DOCTYPE html>
<html>
  <head>
    <title>Merlin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,200' rel='stylesheet' type='text/css'>
    <%= yield :styles %>
    <%= render 'partials/ga' %>
    <%= render 'partials/fp' %>
  </head>
  <body style="background-color:#536DFE;">
    <script>
      fbq('track', 'ViewContent');
      <%= yield :fp_events %>
    </script>
    <%= render 'partials/flash' %>
    <div class="container text-center">
      <br><br><br><br>
        <h1 style="color:white">MERLIN</h1>
        <%= yield %>
    </div>
  </body>
</html>